{% extends 'base.html' %}
{% load static %}
{% block content%}

<h1>Welcome to Gesis Search Page</h1>
<br><br><br>
<br>
<html><br></html><br>


<input type="text" class="form-control" required placeholder="email@xyz.com">

<br><br><br><br>

<input type="email" class="form-control" required placeholder="abc123">

<html><br></html>
<html><br></html>
<html><br></html><html><br></html>
<html><br></html>

<br><br><br><br><br>

<input type="text" class="form-control" placeholder="ZA123B,XYZ123,ABC984">

<br><br><br><br>
  <input type="submit" class="btn btn-primary btn-block" value="search">
<br><br>

{% endblock%}
