<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->

<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <meta name="description" content="">-->
<!--    <meta name="author" content="">-->

<!--    <title>SB Admin 2 - Dashboard</title>-->

<!--    &lt;!&ndash; Custom fonts for this template&ndash;&gt;-->
<!--    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">-->
<!--    <link-->
<!--        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"-->
<!--        rel="stylesheet">-->

<!--    &lt;!&ndash; Custom styles for this template&ndash;&gt;-->
<!--    <link href="css/sb-admin-2.min.css" rel="stylesheet">-->

<!--</head>-->

<!--<body id="page-top">-->

<!--    &lt;!&ndash; Page Wrapper &ndash;&gt;-->
<!--    <div id="wrapper">-->

<!--        &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--       &lt;!&ndash; End of Sidebar &ndash;&gt;-->

<!--        &lt;!&ndash; Content Wrapper &ndash;&gt;-->
<!--        <div id="content-wrapper" class="d-flex flex-column">-->

<!--            &lt;!&ndash; Main Content &ndash;&gt;-->
<!--            <div id="content">-->

<!--                &lt;!&ndash; Topbar &ndash;&gt;-->
<!--                &lt;!&ndash; End of Topbar &ndash;&gt;-->

<!--                &lt;!&ndash; Begin Page Content &ndash;&gt;-->
<!--                <div class="container-fluid">-->

<!--                    &lt;!&ndash; Page Heading &ndash;&gt;-->
<!--                    <div class="d-sm-flex align-items-center justify-content-between mb-4">-->
<!--                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>-->
<!--                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i-->
<!--                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
<!--                    </div>-->


<!--                    <div class="row">-->
<!--                        {% block content %}-->



<!--                        {% endblock%}-->

<!--                    </div>-->

<!--                </div>-->
<!--                &lt;!&ndash; /.container-fluid &ndash;&gt;-->

<!--            </div>-->
<!--            &lt;!&ndash; End of Main Content &ndash;&gt;-->

<!--            &lt;!&ndash; Footer &ndash;&gt;-->

<!--            &lt;!&ndash; End of Footer &ndash;&gt;-->

<!--        </div>-->
<!--        &lt;!&ndash; End of Content Wrapper &ndash;&gt;-->

<!--    </div>-->
<!--    &lt;!&ndash; End of Page Wrapper &ndash;&gt;-->

<!--    &lt;!&ndash; Scroll to Top Button&ndash;&gt;-->
<!--    <a class="scroll-to-top rounded" href="#page-top">-->
<!--        <i class="fas fa-angle-up"></i>-->
<!--    </a>-->

<!--    &lt;!&ndash; Logout Modal&ndash;&gt;-->
<!--    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--        aria-hidden="true">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>-->
<!--                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">×</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>-->
<!--                <div class="modal-footer">-->
<!--                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>-->
<!--                    <a class="btn btn-primary" href="login.html">Logout</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Bootstrap core JavaScript&ndash;&gt;-->
<!--    <script src="vendor/jquery/jquery.min.js"></script>-->
<!--    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<!--    &lt;!&ndash; Core plugin JavaScript&ndash;&gt;-->
<!--    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

<!--    &lt;!&ndash; Custom scripts for all pages&ndash;&gt;-->
<!--    <script src="js/sb-admin-2.min.js"></script>-->

<!--    &lt;!&ndash; Page level plugins &ndash;&gt;-->
<!--    <script src="vendor/chart.js/Chart.min.js"></script>-->

<!--    &lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--    <script src="js/demo/chart-area-demo.js"></script>-->
<!--    <script src="js/demo/chart-pie-demo.js"></script>-->

<!--</body>-->

<!--</html>-->